<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Energy Site Data Analysis</title>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <!--Wind Status Chart-->
        <script th:inline="javascript">
            // Load data
            var windUnitData = [[${windUnitData}]];

            // Organize data
            var windUnitArray = [];

            // column title placeholders
            windUnitArray.push(['', 'Up', 'Down', { role: 'annotation' }]);

            // add data
            Object.entries(windUnitData).forEach(function(obj) {
                windUnitArray.push([obj[1].name,
                obj[1].operatingUnits,
                (obj[1].totalUnits - obj[1].operatingUnits),
                '']);
            });

            // Load API
            google.charts.load('current', {'packages' : ['corechart']});

            // Load chart after API is loaded
            google.charts.setOnLoadCallback(drawChart);

            // Draw chart
            function drawChart() {

                // Create data table
                var windUnitTable = google.visualization.arrayToDataTable(windUnitArray);

                var specs = {
                    'title' : 'Wind Sites Status',
                    'width' : 400,
                    'height' : 400,
                    legend: { position: 'top', maxLines: 3 },
                    bar: { groupWidth: '75%' },
                    isStacked: true
                };

                // Instantiate and draw chart
                var windUnitChart = new google.visualization.ColumnChart(document.getElementById('wind-unit-chart'));
                windUnitChart.draw(windUnitTable, specs);

                document.getElementById('wind-unit-chart').style.display = "inline-block";
            }
        </script>

        <!--Solar Status Chart-->
        <script th:inline="javascript">
            // Load data
            var solarUnitData = [[${solarUnitData}]];

            // Organize data
            var solarUnitArray = [];

            // column title placeholders
            solarUnitArray.push(['', 'Up', 'Down', { role: 'annotation' }]);

            // add data
            Object.entries(solarUnitData).forEach(function(obj) {
                solarUnitArray.push([obj[1].name,
                obj[1].operatingUnits,
                (obj[1].totalUnits - obj[1].operatingUnits),
                '']);
            });

            // Load API
            google.charts.load('current', {'packages' : ['corechart']});

            // Load chart after API is loaded
            google.charts.setOnLoadCallback(drawChart);

            // Draw chart
            function drawChart() {

                // Create data table
                var solarUnitTable = google.visualization.arrayToDataTable(solarUnitArray);

                var specs = {
                    'title' : 'Solar Sites Status',
                    'width' : 400,
                    'height' : 400,
                    legend: { position: 'top', maxLines: 3 },
                    bar: { groupWidth: '75%' },
                    isStacked: true
                };

                // Instantiate and draw chart
                var solarUnitChart = new google.visualization.ColumnChart(document.getElementById('solar-unit-chart'));
                solarUnitChart.draw(solarUnitTable, specs);

                document.getElementById('solar-unit-chart').style.display = "inline-block";
            }
        </script>

        <!--Renewable Type Chart-->
        <script th:inline="javascript">
            // Load data
            var renewableTypeData = [[${renewableTypeData}]];

            // Organize data
            var renewableTypeArray = [];

            // column title placeholders
            renewableTypeArray.push(['', '']);

            // add data
            Object.entries(renewableTypeData).forEach(function(obj) {
                renewableTypeArray.push(obj);
            });

            // Load API
            google.charts.load('current', {'packages' : ['corechart']});

            // Load chart after API is loaded
            google.charts.setOnLoadCallback(drawChart);

            // Draw chart
            function drawChart() {

                // Create data table
                var renewableTypeTable = google.visualization.arrayToDataTable(renewableTypeArray);

                var specs = {
                    'title' : 'Renewable Types',
                    'width' : 400,
                    'height' : 400
                };

                // Instantiate and draw chart
                var renewableTypeChart = new google.visualization.PieChart(document.getElementById('renewable-type-chart'));
                renewableTypeChart.draw(renewableTypeTable, specs);

                document.getElementById('renewable-type-chart').style.display = "inline-block";
            }
        </script>

        <!--Deployment Status Chart-->
        <script th:inline="javascript">
            // Load data
            var deploymentStatusData = [[${deploymentStatusData}]];

            // Organize data
            var deploymentStatusArray = [];

            // column title placeholders
            deploymentStatusArray.push(['', '']);

            // add data
            Object.entries(deploymentStatusData).forEach(function(obj) {
                deploymentStatusArray.push(obj);
            });

            // Load API
            google.charts.load('current', {'packages' : ['corechart']});

            // Load chart after API is loaded
            google.charts.setOnLoadCallback(drawChart);

            // Draw chart
            function drawChart() {

                // Create data table
                var deploymentStatusTable = google.visualization.arrayToDataTable(deploymentStatusArray);

                var specs = {
                    'title' : 'Deployment Required Status',
                    'width' : 400,
                    'height' : 400
                };

                // Instantiate and draw chart
                var deploymentStatusChart = new google.visualization.PieChart(document.getElementById('deployment-status-chart'));
                deploymentStatusChart.draw(deploymentStatusTable, specs);

                document.getElementById('deployment-status-chart').style.display = "inline-block";
            }
        </script>

        <!--Service Status Chart-->
        <script th:inline="javascript">
            // Load data
            var serviceStatusData = [[${serviceStatusData}]];

            // Organize data
            var serviceStatusArray = [];

            // column title placeholders
            serviceStatusArray.push(['', '']);

            // add data
            Object.entries(serviceStatusData).forEach(function(obj) {
                serviceStatusArray.push(obj);
            });

            // Load API
            google.charts.load('current', {'packages' : ['corechart']});

            // Load chart after API is loaded
            google.charts.setOnLoadCallback(drawChart);

            // Draw chart
            function drawChart() {

                // Create data table
                var serviceStatusTable = google.visualization.arrayToDataTable(serviceStatusArray);

                var specs = {
                    'title' : 'Service Required Status',
                    'width' : 400,
                    'height' : 400
                };

                // Instantiate and draw chart
                var serviceStatusChart = new google.visualization.PieChart(document.getElementById('service-status-chart'));
                serviceStatusChart.draw(serviceStatusTable, specs);

                document.getElementById('service-status-chart').style.display = "inline-block";
            }
        </script>
    </head>

    <body>
        <div>
            <h2>Site Data</h2>

            <table>
                <tr>
                    <th>Site Name</th>
                    <th>Renewable Type</th>
                    <th>Location</th>
                    <th>Weather Conditions</th>
                    <th>Total Units</th>
                    <th>Operating Units</th>
                    <th>Unit Capacity (MW)</th>
                    <th>Site Condition</th>
                    <th>Deployment Required</th>
                    <th>Service Required</th>
                </tr>
                <tr th:each="site : ${siteData}">
                    <td th:text="${site.name}"></td>
                    <td th:text="${site.renewableType}"></td>
                    <td th:text="${site.location}"></td>
                    <td th:text="${site.weatherQualityType}"></td>
                    <td th:text="${site.totalUnits}"></td>
                    <td th:text="${site.operatingUnits}"></td>
                    <td th:text="${site.unitCapacity}"></td>
                    <td th:text="${site.condition}"></td>
                    <td th:text="${site.deploymentRequired}"></td>
                    <td th:text="${site.serviceRequired}"></td>
                </tr>
            </table>
        </div>

        <div>
            <h2>By Renewable Type</h2>

            <h4>Wind Site Statistics</h4>

            <table>
                <tr>
                    <th>Category</th>
                    <th>Site Name</th>
                    <th>Total Units</th>
                    <th>Operating Units</th>
                    <th>Total Capacity (MW)</th>
                    <th>Operating Capacity (MW)</th>
                </tr>
                <tr>
                    <td>Max Total Units</td>
                    <td th:text="${maxTotalUnitsWind.name}"></td>
                    <td th:text="${maxTotalUnitsWind.totalUnits}"></td>
                    <td th:text="${maxTotalUnitsWind.operatingUnits}"></td>
                    <td th:text="${maxTotalUnitsWind.totalUnits * maxTotalUnitsWind.unitCapacity}"></td>
                    <td th:text="${maxTotalUnitsWind.operatingUnits * maxTotalUnitsWind.unitCapacity}"></td>
                </tr>
                <tr>
                    <td>Max Operating Units</td>
                    <td th:text="${maxOperatingUnitsWind.name}"></td>
                    <td th:text="${maxOperatingUnitsWind.totalUnits}"></td>
                    <td th:text="${maxOperatingUnitsWind.operatingUnits}"></td>
                    <td th:text="${maxOperatingUnitsWind.totalUnits * maxOperatingUnitsWind.unitCapacity}"></td>
                    <td th:text="${maxOperatingUnitsWind.operatingUnits * maxOperatingUnitsWind.unitCapacity}"></td>
                </tr>
                <tr>
                    <td>Max Total Capacity (MW)</td>
                    <td th:text="${maxTotalCapacityWind.name}"></td>
                    <td th:text="${maxTotalCapacityWind.totalUnits}"></td>
                    <td th:text="${maxTotalCapacityWind.operatingUnits}"></td>
                    <td th:text="${maxTotalCapacityWind.totalUnits * maxTotalCapacityWind.unitCapacity}"></td>
                    <td th:text="${maxTotalCapacityWind.operatingUnits * maxTotalCapacityWind.unitCapacity}"></td>
                </tr>
                <tr>
                    <td>Max Operating Capacity (MW)</td>
                    <td th:text="${maxOperatingCapacityWind.name}"></td>
                    <td th:text="${maxOperatingCapacityWind.totalUnits}"></td>
                    <td th:text="${maxOperatingCapacityWind.operatingUnits}"></td>
                    <td th:text="${maxOperatingCapacityWind.totalUnits * maxOperatingCapacityWind.unitCapacity}"></td>
                    <td th:text="${maxOperatingCapacityWind.operatingUnits * maxOperatingCapacityWind.unitCapacity}"></td>
                </tr>
            </table>

            <div id="wind-unit-chart"></div>

            <br />

            <h4>Solar Site Statistics</h4>

            <table>
                <tr>
                    <th>Category</th>
                    <th>Site Name</th>
                    <th>Total Units</th>
                    <th>Operating Units</th>
                    <th>Total Capacity (MW)</th>
                    <th>Operating Capacity (MW)</th>
                </tr>
                <tr>
                    <td>Max Total Units</td>
                    <td th:text="${maxTotalUnitsSolar.name}"></td>
                    <td th:text="${maxTotalUnitsSolar.totalUnits}"></td>
                    <td th:text="${maxTotalUnitsSolar.operatingUnits}"></td>
                    <td th:text="${maxTotalUnitsSolar.totalUnits * maxTotalUnitsSolar.unitCapacity}"></td>
                    <td th:text="${maxTotalUnitsSolar.operatingUnits * maxTotalUnitsSolar.unitCapacity}"></td>
                </tr>
                <tr>
                    <td>Max Operating Units</td>
                    <td th:text="${maxOperatingUnitsSolar.name}"></td>
                    <td th:text="${maxOperatingUnitsSolar.totalUnits}"></td>
                    <td th:text="${maxOperatingUnitsSolar.operatingUnits}"></td>
                    <td th:text="${maxOperatingUnitsSolar.totalUnits * maxOperatingUnitsSolar.unitCapacity}"></td>
                    <td th:text="${maxOperatingUnitsSolar.operatingUnits * maxOperatingUnitsSolar.unitCapacity}"></td>
                </tr>
                <tr>
                    <td>Max Total Capacity (MW)</td>
                    <td th:text="${maxTotalCapacitySolar.name}"></td>
                    <td th:text="${maxTotalCapacitySolar.totalUnits}"></td>
                    <td th:text="${maxTotalCapacitySolar.operatingUnits}"></td>
                    <td th:text="${maxTotalCapacitySolar.totalUnits * maxTotalCapacitySolar.unitCapacity}"></td>
                    <td th:text="${maxTotalCapacitySolar.operatingUnits * maxTotalCapacitySolar.unitCapacity}"></td>
                </tr>
                <tr>
                    <td>Max Operating Capacity (MW)</td>
                    <td th:text="${maxOperatingCapacitySolar.name}"></td>
                    <td th:text="${maxOperatingCapacitySolar.totalUnits}"></td>
                    <td th:text="${maxOperatingCapacitySolar.operatingUnits}"></td>
                    <td th:text="${maxOperatingCapacitySolar.totalUnits * maxOperatingCapacitySolar.unitCapacity}"></td>
                    <td th:text="${maxOperatingCapacitySolar.operatingUnits * maxOperatingCapacitySolar.unitCapacity}"></td>
                </tr>
            </table>

            <div id="solar-unit-chart"></div>
        </div>

        <h2>Totals</h2>

        <div id="renewable-type-chart"></div>
        <div id="deployment-status-chart"></div>
        <div id="service-status-chart"></div>
    </body>

    <style>
        h2, h4, button {
            font-family: verdana,arial,sans-serif;
        }

        table {
            font-family: verdana,arial,sans-serif;
            font-size:11px;
            color:#333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }

        table th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
    </style>
</html>