<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <!--Generation Type Chart-->
        <script th:inline="javascript">
            // Load data
            var genTypeData = [[${genTypeData}]];

            // Load API
            google.charts.load('current', {'packages' : ['corechart']});

            // Load chart after API is loaded
            google.charts.setOnLoadCallback(drawChart);

            // Draw chart
            function drawChart() {

                // Create data table
                var genTypeTable = new google.visualization.DataTable();

                // Add columns
                genTypeTable.addColumn('string', 'Generation Type');
                genTypeTable.addColumn('number', '# of Sites');

                // Add rows
                genTypeTable.addRows(2)

                // Add cells
                genTypeTable.setCell(0, 0, genTypeData[0].type);
                genTypeTable.setCell(0, 1, genTypeData[0].total);
                genTypeTable.setCell(1, 0, genTypeData[1].type);
                genTypeTable.setCell(1, 1, genTypeData[1].total);

                var specs = {
                    'title' : 'Generation Type',
                    'width' : 400,
                    'height' : 300
                };

                // Instantiate and draw chart
                var genTypeChart = new google.visualization.PieChart(document.getElementById('gen-type-chart'));
<!--                var genTypeChart = new google.visualization.ColumnChart(document.getElementById('gen-type-chart'));-->
                genTypeChart.draw(genTypeTable, specs);

                document.getElementById('gen-type-chart').style.display = "inline-block";
            }
        </script>

        <!--Service Chart-->
        <script th:inline="javascript">
            // Load data
            var serviceData = [[${serviceData}]];

            // Load API
            google.charts.load('current', {'packages' : ['corechart']});

            // Load chart after API is loaded
            google.charts.setOnLoadCallback(drawChart);

            // Draw chart
            function drawChart() {

                // Create data table
                var serviceTable = new google.visualization.DataTable();

                // Add columns
                serviceTable.addColumn('string', 'Service Needed');
                serviceTable.addColumn('number', '# of Sites');

                // Add rows
                serviceTable.addRows(2)

                // Add cells
                serviceTable.setCell(0, 0, serviceData[0].serviceNeeded);
                serviceTable.setCell(0, 1, serviceData[0].total);
                serviceTable.setCell(1, 0, serviceData[1].serviceNeeded);
                serviceTable.setCell(1, 1, serviceData[1].total);

                // Set chart specs
                var specs = {
                    'title' : 'Site Status',
                    'width' : 400,
                    'height' : 300
                };

                // Instantiate and draw chart
                var serviceTypeChart = new google.visualization.PieChart(document.getElementById('service-chart'));
                serviceTypeChart.draw(serviceTable, specs);

                document.getElementById('service-chart').style.display = "inline-block";
            }
        </script>

        <!--Unit Chart-->
        <script th:inline="javascript">
            // Load data
            var teamUnitData = [[${teamUnitData}]];
            console.log(teamUnitData);

            // Load API
            google.charts.load('current', {'packages' : ['corechart']});

            // Load chart after API is loaded
            google.charts.setOnLoadCallback(drawChart);

            // Draw chart
            function drawChart() {

                // Create data table
                var teamUnitTable = google.visualization.arrayToDataTable([
                    ['', 'Up Units', 'Down Units', { role: 'annotation' } ],
                    ['Team 1', 5, 10, ''],
                    ['Team 2', 15, 25, ''],
                    ['Team 3', 30, 30, '']
                ]);

                // Set chart specs
                var specs = {
                    'title' : 'Unit Status',
                    'width' : 600,
                    'height' : 400,
                    bar : { groupWidth: '75%' },
                    legend: { position: 'top', maxLines: 3 },
                    isStacked : true
                };

                // Instantiate and draw chart
                var teamUnitChart = new google.visualization.ColumnChart(document.getElementById('team-unit-chart'));
                teamUnitChart.draw(teamUnitTable, specs);

                document.getElementById('team-unit-chart').style.display = "inline-block";
            }
        </script>
    </head>

    <body>
        <h2>Totals</h2>

        <div id="gen-type-chart"></div>
        <div id="service-chart"></div>
        <div id="team-unit-chart"></div>
    </body>

    <style>
        h2 {
            font-family: verdana,arial,sans-serif;
        }
    </style>

</html>