<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>GirlWork Analysis</title>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <script>
            function getAnalysis() {
                // hide button
                document.getElementById("btnAnalysis").style.visibility = "hidden";

                // display stats
                document.getElementById("statistics").style.display = "block";

                // display charts
                document.getElementById("renewable-type-chart").style.display = "inline-block";
                document.getElementById("deployment-status-chart").style.display = "inline-block";
                document.getElementById("service-status-chart").style.display = "inline-block";
            }
        </script>

        <script th:inline="javascript">
            var x = [[${data}]];
            console.log(x);
        </script>

        <!--Renewable Type Chart-->
        <script th:inline="javascript">
            // Load data
            var renewableTypeData = [[${renewableTypeData}]];

            // Organize data
            var renewableTypeArray = [];

            // column title placeholders
            renewableTypeArray.push(['', '']);

            // add data
            Object.entries(renewableTypeData).forEach(function(obj) {
                renewableTypeArray.push(obj);
            });

            // Load API
            google.charts.load('current', {'packages' : ['corechart']});

            // Load chart after API is loaded
            google.charts.setOnLoadCallback(drawChart);

            // Draw chart
            function drawChart() {

                // Create data table
                var renewableTypeTable = google.visualization.arrayToDataTable(renewableTypeArray);

                var specs = {
                    'title' : 'Renewable Types',
                    'width' : 400,
                    'height' : 400
                };

                // Instantiate and draw chart
                var renewableTypeChart = new google.visualization.PieChart(document.getElementById('renewable-type-chart'));
                renewableTypeChart.draw(renewableTypeTable, specs);

                document.getElementById('renewable-type-chart').style.display = "none";
            }
        </script>

        <!--Deployment Status Chart-->
        <script th:inline="javascript">
            // Load data
            var deploymentStatusData = [[${deploymentStatusData}]];

            // Organize data
            var deploymentStatusArray = [];

            // column title placeholders
            deploymentStatusArray.push(['', '']);

            // add data
            Object.entries(deploymentStatusData).forEach(function(obj) {
                deploymentStatusArray.push(obj);
            });

            // Load API
            google.charts.load('current', {'packages' : ['corechart']});

            // Load chart after API is loaded
            google.charts.setOnLoadCallback(drawChart);

            // Draw chart
            function drawChart() {

                // Create data table
                var deploymentStatusTable = google.visualization.arrayToDataTable(deploymentStatusArray);

                var specs = {
                    'title' : 'Deployment Required Status',
                    'width' : 400,
                    'height' : 400
                };

                // Instantiate and draw chart
                var deploymentStatusChart = new google.visualization.PieChart(document.getElementById('deployment-status-chart'));
                deploymentStatusChart.draw(deploymentStatusTable, specs);

                document.getElementById('deployment-status-chart').style.display = "none";
            }
        </script>

        <!--Service Status Chart-->
        <script th:inline="javascript">
            // Load data
            var serviceStatusData = [[${serviceStatusData}]];

            // Organize data
            var serviceStatusArray = [];

            // column title placeholders
            serviceStatusArray.push(['', '']);

            // add data
            Object.entries(serviceStatusData).forEach(function(obj) {
                serviceStatusArray.push(obj);
            });

            // Load API
            google.charts.load('current', {'packages' : ['corechart']});

            // Load chart after API is loaded
            google.charts.setOnLoadCallback(drawChart);

            // Draw chart
            function drawChart() {

                // Create data table
                var serviceStatusTable = google.visualization.arrayToDataTable(serviceStatusArray);

                var specs = {
                    'title' : 'Service Required Status',
                    'width' : 400,
                    'height' : 400
                };

                // Instantiate and draw chart
                var serviceStatusChart = new google.visualization.PieChart(document.getElementById('service-status-chart'));
                serviceStatusChart.draw(serviceStatusTable, specs);

                document.getElementById('service-status-chart').style.display = "none";
            }
        </script>
    </head>

    <body>
        <div id="data">
            <h2>Site Data</h2>
            <table>
                <tr>
                    <th>Site Name</th>
                    <th>Renewable Type</th>
                    <th>Location</th>
                    <th>Weather Conditions</th>
                    <th>Total Units</th>
                    <th>Operating Units</th>
                    <th>Unit Capacity (MW)</th>
                    <th>Site Condition</th>
                    <th>Deployment Required</th>
                    <th>Service Required</th>
                </tr>
                <tr th:each="item : ${data}">
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.renewableType}"></td>
                    <td th:text="${item.location}"></td>
                    <td th:text="${item.weatherQualityType}"></td>
                    <td th:text="${item.totalUnits}"></td>
                    <td th:text="${item.operatingUnits}"></td>
                    <td th:text="${item.unitCapacity}"></td>
                    <td th:text="${item.condition}"></td>
                    <td th:text="${item.deploymentRequired}"></td>
                    <td th:text="${item.serviceRequired}"></td>
                </tr>
            </table>

            <br />

            <div>
                <button id="btnAnalysis" onClick="getAnalysis()">Analyze!</button>
            </div>
        </div>

        <div class="analytics" id="statistics">
            <h2>Analyzed Data</h2>
            <h4>Wind Site Statistics</h4>
            <table>
                <tr>
                    <th>Category</th>
                    <th>Site Name</th>
                    <th>Total Units</th>
                    <th>Operating Units</th>
                    <th>Total Capacity (MW)</th>
                    <th>Operating Capacity (MW)</th>
                </tr>
                <tr>
                    <td>Max Total Units</td>
                    <td th:text="${maxTotalUnitsWind.name}"></td>
                    <td th:text="${maxTotalUnitsWind.totalUnits}"></td>
                    <td th:text="${maxTotalUnitsWind.operatingUnits}"></td>
                    <td th:text="${maxTotalUnitsWind.totalUnits * maxTotalUnitsWind.unitCapacity}"></td>
                    <td th:text="${maxTotalUnitsWind.operatingUnits * maxTotalUnitsWind.unitCapacity}"></td>
                </tr>
                <tr>
                    <td>Max Operating Units</td>
                    <td th:text="${maxOperatingUnitsWind.name}"></td>
                    <td th:text="${maxOperatingUnitsWind.totalUnits}"></td>
                    <td th:text="${maxOperatingUnitsWind.operatingUnits}"></td>
                    <td th:text="${maxOperatingUnitsWind.totalUnits * maxOperatingUnitsWind.unitCapacity}"></td>
                    <td th:text="${maxOperatingUnitsWind.operatingUnits * maxOperatingUnitsWind.unitCapacity}"></td>
                </tr>
                <tr>
                    <td>Max Total Capacity (MW)</td>
                    <td th:text="${maxTotalCapacityWind.name}"></td>
                    <td th:text="${maxTotalCapacityWind.totalUnits}"></td>
                    <td th:text="${maxTotalCapacityWind.operatingUnits}"></td>
                    <td th:text="${maxTotalCapacityWind.totalUnits * maxTotalCapacityWind.unitCapacity}"></td>
                    <td th:text="${maxTotalCapacityWind.operatingUnits * maxTotalCapacityWind.unitCapacity}"></td>
                </tr>
                <tr>
                    <td>Max Operating Capacity (MW)</td>
                    <td th:text="${maxOperatingCapacityWind.name}"></td>
                    <td th:text="${maxOperatingCapacityWind.totalUnits}"></td>
                    <td th:text="${maxOperatingCapacityWind.operatingUnits}"></td>
                    <td th:text="${maxOperatingCapacityWind.totalUnits * maxOperatingCapacityWind.unitCapacity}"></td>
                    <td th:text="${maxOperatingCapacityWind.operatingUnits * maxOperatingCapacityWind.unitCapacity}"></td>
                </tr>
            </table>

            <br />

            <h4>Solar Site Statistics</h4>
            <table>
                <tr>
                    <th>Category</th>
                    <th>Site Name</th>
                    <th>Total Units</th>
                    <th>Operating Units</th>
                    <th>Total Capacity (MW)</th>
                    <th>Operating Capacity (MW)</th>
                </tr>
                <tr>
                    <td>Max Total Units</td>
                    <td th:text="${maxTotalUnitsSolar.name}"></td>
                    <td th:text="${maxTotalUnitsSolar.totalUnits}"></td>
                    <td th:text="${maxTotalUnitsSolar.operatingUnits}"></td>
                    <td th:text="${maxTotalUnitsSolar.totalUnits * maxTotalUnitsSolar.unitCapacity}"></td>
                    <td th:text="${maxTotalUnitsSolar.operatingUnits * maxTotalUnitsSolar.unitCapacity}"></td>
                </tr>
                <tr>
                    <td>Max Operating Units</td>
                    <td th:text="${maxOperatingUnitsSolar.name}"></td>
                    <td th:text="${maxOperatingUnitsSolar.totalUnits}"></td>
                    <td th:text="${maxOperatingUnitsSolar.operatingUnits}"></td>
                    <td th:text="${maxOperatingUnitsSolar.totalUnits * maxOperatingUnitsSolar.unitCapacity}"></td>
                    <td th:text="${maxOperatingUnitsSolar.operatingUnits * maxOperatingUnitsSolar.unitCapacity}"></td>
                </tr>
                <tr>
                    <td>Max Total Capacity (MW)</td>
                    <td th:text="${maxTotalCapacitySolar.name}"></td>
                    <td th:text="${maxTotalCapacitySolar.totalUnits}"></td>
                    <td th:text="${maxTotalCapacitySolar.operatingUnits}"></td>
                    <td th:text="${maxTotalCapacitySolar.totalUnits * maxTotalCapacitySolar.unitCapacity}"></td>
                    <td th:text="${maxTotalCapacitySolar.operatingUnits * maxTotalCapacitySolar.unitCapacity}"></td>
                </tr>
                <tr>
                    <td>Max Operating Capacity (MW)</td>
                    <td th:text="${maxOperatingCapacitySolar.name}"></td>
                    <td th:text="${maxOperatingCapacitySolar.totalUnits}"></td>
                    <td th:text="${maxOperatingCapacitySolar.operatingUnits}"></td>
                    <td th:text="${maxOperatingCapacitySolar.totalUnits * maxOperatingCapacitySolar.unitCapacity}"></td>
                    <td th:text="${maxOperatingCapacitySolar.operatingUnits * maxOperatingCapacitySolar.unitCapacity}"></td>
                </tr>
            </table>
        </div>
        <div class="analytics" id="renewable-type-chart"></div>
        <div class="analytics" id="deployment-status-chart"></div>
        <div class="analytics" id="service-status-chart"></div>
    </body>

    <style>
        h2, h4, button {
            font-family: verdana,arial,sans-serif;
        }

        table {
            font-family: verdana,arial,sans-serif;
            font-size:11px;
            color:#333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }

        table th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }

        .analytics {
            display: none;
        }
    </style>
</html>