<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>GirlWork Analysis</title>
    </head>

    <body>
        <div id="data">
            <h2>Team Data</h2>

            <table>
                <tr>
                    <th>Site Name</th>
                    <th>Renewable Type</th>
                    <th>Location</th>
                    <th>Weather Conditions</th>
                    <th>Total Units</th>
                    <th>Operating Units</th>
                    <th>Unit Capacity (MW)</th>
                    <th>Site Condition</th>
                    <th>Deployment Required</th>
                    <th>Service Required</th>
                </tr>
                <tr th:each="item : ${data}">
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.renewableType}"></td>
                    <td th:text="${item.location}"></td>
                    <td th:text="${item.weatherQualityType}"></td>
                    <td th:text="${item.totalUnits}"></td>
                    <td th:text="${item.operatingUnits}"></td>
                    <td th:text="${item.unitCapacity}"></td>
                    <td th:text="${item.condition}"></td>
                    <td th:text="${item.deploymentRequired}"></td>
                    <td th:text="${item.serviceRequired}"></td>
                </tr>
            </table>

            <br />

            <div>
                <button id="btnAnalysis" onClick="getAnalysis()">Analyze!</button>
            </div>
        </div>

        <div id="analysis">
            <h2>Analyzed Data</h2>

            <h4>Statistics</h4>
            <table>
                <tr>
                    <th>Renewable Type</th>
                    <th>Site Name</th>
                    <th>Total Units</th>
                    <th>Operating Units</th>
                    <th>Total Capacity (MW)</th>
                    <th>Operating Capacity (MW)</th>
                </tr>
                <tr>
                    <td th:text="${analytics.maxCapacity.category}"></td>
                    <td th:text="${analytics.maxCapacity.siteName}"></td>
                    <td th:text="${analytics.maxCapacity.operatingCapacity}"></td>
                    <td th:text="${analytics.maxCapacity.totalCapacity}"></td>
                    <td th:text="${analytics.maxCapacity.generationType}"></td>
                    <td th:text="${analytics.maxCapacity.teamName}"></td>
                </tr>
                <tr>
                    <td th:text="${analytics.maxUnits.category}"></td>
                    <td th:text="${analytics.maxUnits.siteName}"></td>
                    <td th:text="${analytics.maxUnits.operatingCapacity}"></td>
                    <td th:text="${analytics.maxUnits.totalCapacity}"></td>
                    <td th:text="${analytics.maxUnits.generationType}"></td>
                    <td th:text="${analytics.maxUnits.teamName}"></td>
                </tr>
                <tr>
                    <td th:text="${analytics.maxWind.category}"></td>
                    <td th:text="${analytics.maxWind.siteName}"></td>
                    <td th:text="${analytics.maxWind.operatingCapacity}"></td>
                    <td th:text="${analytics.maxWind.totalCapacity}"></td>
                    <td th:text="${analytics.maxWind.generationType}"></td>
                    <td th:text="${analytics.maxWind.teamName}"></td>
                </tr>
                <tr>
                    <td th:text="${analytics.maxSolar.category}"></td>
                    <td th:text="${analytics.maxSolar.siteName}"></td>
                    <td th:text="${analytics.maxSolar.operatingCapacity}"></td>
                    <td th:text="${analytics.maxSolar.totalCapacity}"></td>
                    <td th:text="${analytics.maxSolar.generationType}"></td>
                    <td th:text="${analytics.maxSolar.teamName}"></td>
                </tr>
            </table>

            <br />

            <h4>Sites in Need of Service</h4>
            <table>
                <tr>
                    <th>Site Name</th>
                    <th>Units Up</th>
                    <th>Units Down</th>
                    <th>Team Name</th>
                </tr>
                <tr th:each="site : ${analytics.needsServiceSiteNames}">
                    <td th:text="${site.siteName}"></td>
                    <td th:text="${site.unitsUp}"></td>
                    <td th:text="${site.unitsDown}"></td>
                    <td th:text="${site.teamName}"></td>
                </tr>
            </table>
        </div>

<!--        <div id="analysis">-->
<!--            <h2>Analyzed Data</h2>-->

<!--            <h4>Sites Producing Maximum Generation</h4>-->
<!--            <table>-->
<!--                <tr>-->
<!--                    <th>Category</th>-->
<!--                    <th>Site Name</th>-->
<!--                    <th>Operating Capacity (MW)</th>-->
<!--                    <th>Total Capacity (MW)</th>-->
<!--                    <th>Generation Type</th>-->
<!--                    <th>Team Name</th>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td th:text="${analytics.maxCapacity.category}"></td>-->
<!--                    <td th:text="${analytics.maxCapacity.siteName}"></td>-->
<!--                    <td th:text="${analytics.maxCapacity.operatingCapacity}"></td>-->
<!--                    <td th:text="${analytics.maxCapacity.totalCapacity}"></td>-->
<!--                    <td th:text="${analytics.maxCapacity.generationType}"></td>-->
<!--                    <td th:text="${analytics.maxCapacity.teamName}"></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td th:text="${analytics.maxUnits.category}"></td>-->
<!--                    <td th:text="${analytics.maxUnits.siteName}"></td>-->
<!--                    <td th:text="${analytics.maxUnits.operatingCapacity}"></td>-->
<!--                    <td th:text="${analytics.maxUnits.totalCapacity}"></td>-->
<!--                    <td th:text="${analytics.maxUnits.generationType}"></td>-->
<!--                    <td th:text="${analytics.maxUnits.teamName}"></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td th:text="${analytics.maxWind.category}"></td>-->
<!--                    <td th:text="${analytics.maxWind.siteName}"></td>-->
<!--                    <td th:text="${analytics.maxWind.operatingCapacity}"></td>-->
<!--                    <td th:text="${analytics.maxWind.totalCapacity}"></td>-->
<!--                    <td th:text="${analytics.maxWind.generationType}"></td>-->
<!--                    <td th:text="${analytics.maxWind.teamName}"></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td th:text="${analytics.maxSolar.category}"></td>-->
<!--                    <td th:text="${analytics.maxSolar.siteName}"></td>-->
<!--                    <td th:text="${analytics.maxSolar.operatingCapacity}"></td>-->
<!--                    <td th:text="${analytics.maxSolar.totalCapacity}"></td>-->
<!--                    <td th:text="${analytics.maxSolar.generationType}"></td>-->
<!--                    <td th:text="${analytics.maxSolar.teamName}"></td>-->
<!--                </tr>-->
<!--            </table>-->

<!--            <br />-->

<!--            <h4>Sites in Need of Service</h4>-->
<!--            <table>-->
<!--                <tr>-->
<!--                    <th>Site Name</th>-->
<!--                    <th>Units Up</th>-->
<!--                    <th>Units Down</th>-->
<!--                    <th>Team Name</th>-->
<!--                </tr>-->
<!--                <tr th:each="site : ${analytics.needsServiceSiteNames}">-->
<!--                    <td th:text="${site.siteName}"></td>-->
<!--                    <td th:text="${site.unitsUp}"></td>-->
<!--                    <td th:text="${site.unitsDown}"></td>-->
<!--                    <td th:text="${site.teamName}"></td>-->
<!--                </tr>-->
<!--            </table>-->

<!--            <br />-->

<!--            <h4 th:text="${'Percentage of Sites in Need of Service: ' + analytics.ratioNeedsService + '%'}"></h4>-->
<!--        </div>-->
    </body>

    <script>
        function getAnalysis() {
            document.getElementById("analysis").style.display = "block";
            document.getElementById("btnAnalysis").style.visibility = "hidden";
        }
    </script>

    <script th:inline="javascript">
        var x = [[${data}]];
        console.log(x);
    </script>

    <style>
        h2, h4, button {
            font-family: verdana,arial,sans-serif;
        }

        table {
            font-family: verdana,arial,sans-serif;
            font-size:11px;
            color:#333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }

        table th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }

        #analysis {
            display: none;
        }
    </style>
</html>